* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: lightgray;
  min-height: 100vh;
}
.container {
  padding: 1em;
  margin: 1em;
  width: 50%;
  height: 15em;
  background: red;
  border: 3px solid lightseagreen;
}
